[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
psycopg2-binary = "*"
pandas = "*"
pytz = "*"
tzlocal = "*"
google-api-python-client = "*"
oauth2client = "*"
python-dateutil = "*"
microservices = {editable = true,path = "./.."}

[dev-packages]

[requires]
python_version = "3.8"
