[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
boto3 = "*"
pandas = "*"
pytz = "*"
tzlocal = "*"
botocore = "*"
psycopg2-binary = "*"
microservices = {editable = true,path = "./.."}
numpy = "*"

[requires]
python_version = "3.7"
