# microservice logs folders
logs/

# the Python Egg artifacts created when installing `microservices` from setup.py as an editable package
# (such as by `pip install -e .` or `pipenv install '-e .'`)
*.egg*

# MacOS file system ignores - from: github.com/github/gitignore
.DS_Store
.AppleDouble
.LSOverride

# Visual Studio Code ignores - from: github.com/github/gitignore
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
