[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
botocore = "*"
pandas = "~=1.3.5"
tzlocal = "*"
pytz = "*"
microservices = {editable = true,path = "./.."}
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.8"
