[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pytz = "*"
boto3="*"
botocore = "*"
tzlocal = "*"
pandas = "*"
psycopg2-binary = "*"
microservices = {editable = true,path = "./.."}
sqlalchemy = "*"
pymysql = "*"

[requires]
python_version = "3.8"
