[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tzlocal = "*"
pytz = "*"
boto3 = "*"
pandas = "*"
ua-parser = "*"
referer-parser = "*"
psycopg2-binary = "*"
microservices = {editable = true,path = "./.."}

[dev-packages]

[requires]
python_version = "3.8"
